# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# イントロ動画をリポジトリに含めない場合はコメントを外してください
# (Vercel には別途アップロードが必要になります)
# /public/intro.mp4

# typescript
*.tsbuildinfo
